<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.smartparking">

    <uses-permission android:name="android.permission.INTERNET"/>

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/picon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".Clamping.OthersPay"></activity>
        <activity android:name=".Clamping.ImpoundPay" />
        <activity android:name=".Clamping.ImpoundStorePay" />
        <activity android:name=".Clamping.BAclampPay" />
        <activity android:name=".Clamping.ObstructionPay" />
        <activity android:name=".Clamping.TrailersPay" />
        <activity android:name=".Clamping.Vc3Pay" />
        <activity android:name=".Clamping.Vc2Pay" />
        <activity android:name=".Clamping.Vc1Pay" />
        <activity android:name=".Breakdwn.AccReport" />
        <activity android:name=".Breakdwn.Vb3Pay" />
        <activity android:name=".Breakdwn.Vb2Pay" />
        <activity android:name=".Breakdwn.Vb1Pay" />
        <activity android:name=".DailyPrk.V5Pay" />
        <activity android:name=".DailyPrk.V4Pay" />
        <activity android:name=".DailyPrk.V3Pay" />
        <activity android:name=".DailyPrk.V2Pay" />
        <activity android:name=".DailyPrk.V1Pay" />
        <activity android:name=".BusPrk.TaxiPay" />
        <activity android:name=".BusPrk.BusPay" />
        <activity android:name=".BusPrk.MBusPay" />
        <activity android:name=".BusPrk.MatatuPay" />
        <activity android:name=".Cont.ContactActivity" />
        <activity android:name=".Clamping.ClampActivity" />
        <activity android:name=".Breakdwn.BreakDown" />
        <activity android:name=".DailyPrk.DailyParking" />
        <activity android:name=".BusPrk.BusParking" />
        <activity android:name=".Register" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>